@{
    ViewData["Title"] = "Factorial";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Factorial</title>
        <!--Etiqueta desde la cual agrego estilo a la pagina. Todos tiene el mismo estilo-->
        <style>
        body {
            
            font-family: 'Arial', sans-serif;
            background-color: #f0f4f8;
            color: #333;
            margin: 0;
            padding: 0;
        }

        header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background-color: white;
            box-shadow: 0px 4px 2px -2px gray;
            padding: 10px;
        }

        nav {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        nav a {
            text-decoration: none;
            color: black;
            margin-right: 20px;
            font-weight: bold;
            font-size: 18px;
        }

        nav a:first-child {
            color: blue;
        }

        h1 {
            color: #3a63d8;
            text-align: center;
            margin-top: 100px;
        }

        form {
            background-color: white;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            max-width: 300px;
            margin: 20px auto;
        }

        label {
            display: block;
            margin-bottom: 8px;
        }

        input {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button {
            width: 100%;
            padding: 10px;
            background-color: #28a745;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }

        button:hover {
            background-color: #218838;
        }

        footer {
            text-align: center;
            margin-top: 50px;
            font-size: 12px;
            color: gray;
        }

        #resu {
            margin-top: 15px;
            padding: 10px;
            background-color: #f0f4f8;
            border-radius: 5px;
            font-weight: bold;
            text-align: center;
            color: #3a63d8;
        }

        p {
            color: #000000;
            text-align: center;
        }
    </style>
</head>
<body>
    <!--Encabezado dede el cual conservo los botones predeterminados de .net.-->
    <header>
        <!--Recursividad es la forma de regresar siempre al index-->
        <nav>
            <a asp-controller="Home" asp-action="Index">recursividad</a>
            <a href="#">Home</a>
            <a href="#">Privacy</a>
        </nav>
    </header>
    <h1>Factorial</h1>
    <p>Calcular factorial de un numero</p>
    <!--Se solicitan los datos iniciales, el numero para hacer el calculo y el boton manda el dato a la funcion-->
    <form id="fac">
    <label for="num">Introduce el numero</label>
    <input type="number" id="num" step="any" required> <br>
    <button type="button" onclick="calcularFactorial()">Calcular Factorial</button>
    </form>
    <!--Aca se imprime el resultado -->
    <br> <p id="resu"></p>
    <script>
        //la funcion to ma el dato y lo envia a calcularFactorial() en Homecontroller.cs
        function calcularFactorial(){
            let numero = document.getElementById("num").value;
            //No se puede sacar una factorial negativa. La condicional se encarga de rechazarlo
            if(!numero || numero <= -1){
                document.getElementById("resu").innerText = "Por favor introduce un valor mayor a 0";
                return;
            }
            //Apartir del numero 33 los datos se regresan como 0.
            else if (numero > 33)
            {
                document.getElementById("resu").innerText = "NO es posible calcular valores mayores a 33"
            }
            else
            {
                //El dato se envia al controlador en el metodo calcularFactorial() en caso de pasar todas las comprobaciones.
                fetch(`/Home/calcularFactorial?number=${numero}`)
                .then(response => response.text())
                .then(data => {
                    //el dato obtenido se almacena en una etiqueta visible en HTML.
                    document.getElementById("resu").innerText = data;
                });
            }

        }
    </script>
</body>
</html>